h3 {
    text-align: center;
    margin-top: 15px;
}

label{
    clear: both;
    float:left;
    margin-right: 60px;
}

.card{
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-class{
    text-align: center;
    margin-top: 10px;
}

.firstname{
    display: inline-block;
    padding-left: 35px;
    margin-top: 20px;
}

.lastname{
    display: inline-block;
    margin-left: 10px; 
    margin-top:20px;
}

.form-control{
    width:300px;
}

.group {
    clear: both;
    margin-left: 60px;
    margin-top: 40px;
    padding-left: 40px;
}

.points{
    clear: both;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 40px;
}

.userIcon{
    float:left;
    margin-left: 60px;
}

.userinfo{
    clear: both;
    margin-left: 60px;
    margin-top: 80px;
    padding-left: 40px;
}

#btnDeleteAcc{
    background-color: white;
    border-color: black;
    color:rgb(29, 104, 239);
    margin:5px;
    padding: 5px 20px; 
}

#btnUpdate{
    background-color: rgb(29, 104, 239);
    color:white;
    margin:10px;
    padding: 5px 15px; 
}